img.red {filter: invert(51%) sepia(47%) saturate(6679%) hue-rotate(334deg) brightness(115%) contrast(107%);}
img.pink {filter: invert(21%) sepia(41%) saturate(6951%) hue-rotate(328deg) brightness(94%) contrast(93%);}
img.purple {filter: invert(20%) sepia(30%) saturate(7403%) hue-rotate(280deg) brightness(93%) contrast(91%);}
img.violet {filter: invert(24%) sepia(50%) saturate(3491%) hue-rotate(251deg) brightness(83%) contrast(87%);}
img.indigo {filter: invert(52%) sepia(14%) saturate(2308%) hue-rotate(194deg) brightness(79%) contrast(86%);}
img.blue {filter: invert(48%) sepia(57%) saturate(1494%) hue-rotate(183deg) brightness(94%) contrast(103%);}
img.light.blue {filter: invert(71%) sepia(96%) saturate(4145%) hue-rotate(166deg) brightness(95%) contrast(101%);}
img.cyan {filter: invert(51%) sepia(100%) saturate(356%) hue-rotate(138deg) brightness(107%) contrast(89%);}
img.teal {filter: invert(36%) sepia(66%) saturate(1670%) hue-rotate(147deg) brightness(91%) contrast(101%);}
img.green {filter: invert(59%) sepia(10%) saturate(2408%) hue-rotate(72deg) brightness(97%) contrast(90%);}
img.light.green {filter: invert(63%) sepia(52%) saturate(441%) hue-rotate(45deg) brightness(99%) contrast(93%);}
img.lime {filter: invert(84%) sepia(63%) saturate(513%) hue-rotate(8deg) brightness(92%) contrast(92%);}
img.yellow {filter: invert(99%) sepia(29%) saturate(6565%) hue-rotate(323deg) brightness(108%) contrast(110%);}
img.amber {filter: invert(80%) sepia(60%) saturate(2629%) hue-rotate(354deg) brightness(104%) contrast(101%);}
img.orange {filter: invert(61%) sepia(24%) saturate(3707%) hue-rotate(360deg) brightness(102%) contrast(107%);}
img.deep.orange {filter: invert(45%) sepia(57%) saturate(3445%) hue-rotate(345deg) brightness(99%) contrast(104%);}
img.brown {filter: invert(34%) sepia(23%) saturate(688%) hue-rotate(330deg) brightness(95%) contrast(86%);}
img.grey, img.gray {filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(293deg) brightness(86%) contrast(89%);}
img.blue.grey, img.blue.gray {filter: invert(53%) sepia(27%) saturate(391%) hue-rotate(155deg) brightness(82%) contrast(85%);}

